@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

body {
  font-family: "DotGothic16", sans-serif;
  background: linear-gradient(65deg,#5c25ff,#c0506c,#630cc4);
  background-size: 180% 180%;
  animation: gradient-animation 15s ease infinite;
  width: 50vh;
  height: 48vw;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.top_navbar {
  background-color: #2b2a2a9a;
  overflow: hidden;
  padding: 1px;
  width: 150vh;
  border-radius: 10px;
}
.top_navbar a {
  color: #ffffff;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 2vh;
  text-shadow: 0px 2px 0px rgb(78, 78, 78);
  display: inline-block;
}

.player_pic {
  margin-top: 10px;
  background-color: #2b2a2a2f;
  padding: 30px;
  padding-left: 1%;
  padding-right: 119vh;
  border-radius: 15px;
  margin-top: 10px;
  width: 15vh;
}

.profile_page p {
  margin-left: 20vh;
  margin-top: 10vh;
}

.font {
  margin-left: 50vh;
  margin: 10%;
  margin-top: -31vh;
  font-size: 3vh;
  text-shadow: 0px 3.4px 0px rgb(0, 0, 0);
  color: #ffffff;
}

.voltar_home a {
  text-decoration: none;
  color: #390888;
}

.select a {
  display: flex;             
  justify-content: center;      
  align-items: center;          
  margin-top: 30px;
  width: 270px;                 
  height: 400px;
  background-color: rgba(0,0,0,0.5); 
  border-radius: 10px;
  border: 2px solid transparent;
  color: white;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}


.select a:hover {
  border: 2px solid white;
}